<div>


  <h6 class="display-4 text-center">Ajouter une nouvelle commande : </h6>

  <form class="mt-5 px-5">

    <div class="form-row">
      <div class="col-md-12">
        <label for="date" class="col-label-form">Numero Commade</label>
        <input class="form-control" type="number" placeholder="Numero Commande">
      </div>
    </div>
    <div class="form-row my-3">

      <div class="col-md-4">
        <label for="date" class="col-label-form">Date Commade</label>
        <input class="form-control" type="date" placeholder="Date commande">
      </div>
      <div class="col-md-4">
        <label for="date" class="col-label-form">Date Paiment</label>
        <input class="form-control" type="date" placeholder="Date paiment Commande">
      </div>
      <div class="col-md-4">
        <label for="date" class="col-label-form">Date Livraison</label>
        <input class="form-control" type="date" placeholder="Date Livraison Commande">
      </div>

    </div>

    <div class="row">
        <button class="btn btn-outline-primary col-3 mx-auto">Ajouter</button>

    </div>
    
  </form>

</div>