<div  style="width:100%;height:3px;background-color: #007EA7"> </div>
<nav class="navbar navbar-expand-lg navbar-primary bg-costume" id="navbar">

  <div class="container">
    <a class="navbar-brand">
      <img class="img-fluid" src="../../../assets/images/shopping-bag.png" height="50px" width="50px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link text-wite" href="#"><i class="fas fa-home"></i> Accueil</a>
        </li>
       
      </ul>
      
    </div>
    <div class="dropdown mr-auto">
      <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i> User
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#"> <i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>

    
    
  </div>
</nav>