<div>

  <h5 class="display-4 text-center">Gestion des produits</h5>

  <div class="table-responsive-md">
  
  </div>
  <table class="table table-hover table-striped table-bordered" [mfData]="this.produits" #mf="mfDataTable" [mfRowsOnPage]="5">

      <thead>
        <tr>
          <td>Numéro Produit </td>
          <td>Libelle Produit</td>
          <td>Prix Produit</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let cmd of mf.data'>
          <td>{{cmd.id}}</td>
          <td>{{cmd.libelleProduit}}</td>
          <td>{{cmd.prixProduit}}</td>
          <td>
            <a><i class="fas fa-edit"></i></a>
            <a><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>

</div>