<div>


  <h6 class="display-4 text-center">Ajouter une nouvelle commande : </h6>

  <form class="mt-5 px-5">

    <div class="form-row">
      <div class="col-md-6 mx-auto">
        <label for="text" class="col-label-form">Libelle Produit</label>
        <input class="form-control" type="text" placeholder="Libelle produit">
      </div>
    </div>
    <div class="form-row my-3">

      <div class="col-md-6 mx-auto">
        <label for="text" class="col-label-form">Prix Produit</label>
        <input class="form-control" type="text" placeholder="Prix produit">
      </div>

    </div>
    <div class="form-row my-3">

      <div class="col-md-6 mx-auto">
        <label for="text" class="col-label-form">Categorie Produit</label>
        <select class="custom-select">
          <option selected>Choisir une categorie</option>
          <option value="1">Livre</option>
          <option value="2">PC PORTABLE</option>
          <option value="3">Tele</option>
        </select>
      </div>

    </div>
    <div class="form-row my-3">

      <div class="col-md-6 mx-auto">
        <label for="text" class="col-label-form">Fournisseur Produit</label>
        <input class="form-control" type="text" placeholder="Categorie produit">
      </div>

    </div>


    <div class="row">
      <button class="btn btn-outline-primary col-3 mx-auto">Ajouter</button>

    </div>

  </form>

</div>